body {
    background: #eee;
    color: #999;
    margin: 10px 0;
}
#header {
    font-size: 1.25em;
    margin: 10px;
}
#content {
    background: #fff;
    color: #999;
    font-size: 1rem;
    padding: 10px 25px 30px 25px;
}
#footer {
    font-size: .8rem;
    margin: 10pt;
    text-align: right;
}
h1 {
    color: #aaa;
    font-size: 2.75rem;
    font-weight: normal;
    margin-bottom: .5rem;
    margin-top: .2rem;
}
